<mat-card>
        <form (submit)="onAddPost(postForm)" #postForm="ngForm">
                <mat-form-field>
                        <input 
                        matInput 
                        type="text" 
                        name="titulo"
                        ngModel
                        required
                        minlength="3"
                        placeholder="Título"
                        #titulo='ngModel'>
                        <mat-error *ngIf="titulo.invalid" >T&iacute;tulo inv&aacute;lido</mat-error>
                </mat-form-field>
                <mat-form-field>
                        <textarea 
                        matInput 
                        rows="4"
                        name="conteudo" 
                        required
                        minlength="5"
                        placeholder="Conteúdo"
                        ngModel
                        #conteudo="ngModel"></textarea>
                        <mat-error *ngIf="conteudo.invalid" >Conte&uacute;do inv&aacute;lido</mat-error>
                </mat-form-field>
                <button 
                color="primary"
                mat-raised-button 
                (click)="onAddPost()">Criar post</button>
        </form>
</mat-card>
<p>{{ newPost }}</p>