<mat-card>
        <mat-spinner *ngIf="isLoading" ></mat-spinner>
        <form (submit)="onSavePost(postForm)" #postForm="ngForm">
                <mat-form-field>
                        <input 
                        matInput 
                        type="text" 
                        name="titulo"
                        [ngModel]= "post?.titulo"
                        required
                        minlength="3"
                        placeholder="Título"
                        #titulo='ngModel'>
                        <mat-error *ngIf="titulo.invalid" >T&iacute;tulo inv&aacute;lido</mat-error>
                </mat-form-field>
                <mat-form-field>
                        <textarea 
                        matInput 
                        rows="4"
                        name="conteudo" 
                        required
                        minlength="5"
                        placeholder="Conteúdo"
                        [ngModel]="post?.conteudo"
                        #conteudo="ngModel"></textarea>
                        <mat-error *ngIf="conteudo.invalid" >Conte&uacute;do inv&aacute;lido</mat-error>
                </mat-form-field>
                <button 
                color="primary"
                mat-raised-button
                type="submit">Criar post</button>
        </form>
</mat-card>
<p>{{ newPost }}</p>